ai-operator-strategy-agent.yml
app:
  description: ''
  icon: 📑
  icon_background: '#E0F2FE'
  icon_type: emoji
  mode: advanced-chat
  name: AI运营策略助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.53@0a8239a7fa4cc3b5f880fb9ca54e91b67377738bcc904fd6943a2a66bc80bed1
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1711528914102-source-1778162805137-target
      selected: false
      source: '1711528914102'
      sourceHandle: source
      target: '1778162805137'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1778162805137-source-1778235450869-target
      selected: false
      source: '1778162805137'
      sourceHandle: source
      target: '1778235450869'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1778235450869-source-1778235704060-target
      selected: false
      source: '1778235450869'
      sourceHandle: source
      target: '1778235704060'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1778235704060-false-1778235781676-target
      selected: false
      source: '1778235704060'
      sourceHandle: 'false'
      target: '1778235781676'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1778235781676-source-1778237362020-target
      source: '1778235781676'
      sourceHandle: source
      target: '1778237362020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1778235704060-true-1778251447168-target
      selected: false
      source: '1778235704060'
      sourceHandle: 'true'
      target: '1778251447168'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1778251447168-source-1778251478193-target
      source: '1778251447168'
      sourceHandle: source
      target: '1778251478193'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1778251478193-source-1778251522983-target
      source: '1778251478193'
      sourceHandle: source
      target: '1778251522983'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 接收用户输入的运营需求
        selected: false
        title: 开始
        type: start
        variables: []
      height: 101
      id: '1711528914102'
      position:
        x: 0
        y: 55.96666666666664
      positionAbsolute:
        x: 0
        y: 55.96666666666664
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 把用户的自然语言需求转成结构化运营需求。如果当前用户输入是对上一轮追问的补充，结合历史对话上下文进行完整需求解析。
        memory:
          query_prompt_template: 运营需求为：{{#sys.query#}}
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: b83f4c5b-8c81-47af-9a60-f9987362c8b6
          role: system
          text: '## 角色

            你是瑞幸咖啡的AI运营分析助手，擅长从用户输入中提取结构化运营信息，供后续知识检索与方案生成使用。


            ## 输入

            用户需求：{{#sys.query#}}


            ## 任务

            1.请从用户输入中提取以下字段：

            - business_goal：运营目标

            - target_user：目标人群

            - scenario：运营场景

            - budget：预算或资源限制

            - time_window：活动时间或周期

            - channel：触达渠道

            - product：产品或品类

            - search_keywords：知识检索关键词


            2.同时判断当前信息是否足够进入方案生成阶段，并输出 can_generate。

            3.允许基于语义做合理推断，但不要编造用户未提及的具体事实。

            4.未提及的信息统一输出 "unknown"。


            ## can_generate判断规则

            当满足以下条件时返回 true：

            1. business_goal 非 unknown

            2. target_user 或 scenario 至少一个非 unknown

            否则返回 false。


            ## search_keywords生成规则

            1. 控制在 3~5 个以内

            2. 优先保留：

            - 运营目标

            - 用户类型

            - 场景

            - 产品

            - 渠道


            3. 使用适合知识检索的短词

            4. 不要使用完整句子


            ## 输出格式

            仅输出 JSON，不要输出解释或 Markdown。

            {

            "business_goal": "",

            "target_user": "",

            "scenario": "",

            "budget": "",

            "time_window": "",

            "channel": "",

            "product": "",

            "can_generate": "",

            "search_keywords": []

            }


            ## 示例

            用户输入：我想在开学季针对大学生做一波生椰拿铁的促销，预算5万。

            输出：

            {

            "business_goal": "促销",

            "target_user": "大学生",

            "scenario": "开学季",

            "budget": "5万",

            "time_window": "unknown",

            "channel": "unknown",

            "product": "生椰拿铁",

            "can_generate": true,

            "search_keywords": ["生椰拿铁", "大学生", "开学季促销"]

            }'
        selected: false
        structured_output:
          schema:
            properties:
              budget:
                type: string
              business_goal:
                type: string
              can_generate:
                type: boolean
              channel:
                type: string
              product:
                type: string
              scenario:
                type: string
              search_keywords:
                items:
                  type: string
                type: array
              target_user:
                type: string
              time_window:
                type: string
            required:
            - business_goal
            - target_user
            - scenario
            - channel
            - product
            - budget
            - time_window
            - can_generate
            - search_keywords
            type: object
        structured_output_enabled: true
        title: 需求解析
        type: llm
        vision:
          enabled: false
      height: 164
      id: '1778162805137'
      position:
        x: 342
        y: 41.29999999999997
      positionAbsolute:
        x: 342
        y: 41.29999999999997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(\n    can_generate_input: bool,\n    business_goal: str,\n\
          \    target_user: str,\n    scenario: str,\n    channel: str,\n    product:\
          \ str,\n    budget: str,\n    time_window: str,\n    search_keywords\n)\
          \ -> dict:\n\n    \"\"\"\n    1. 透传 can_generate 给条件分支\n    2. 构建适合知识检索的\
          \ retrieval_query\n    \"\"\"\n\n    result = bool(can_generate_input)\n\
          \n    terms = []\n\n    def add(value):\n        if value is None:\n   \
          \         return\n\n        val = str(value).strip()\n\n        if val and\
          \ val.lower() != \"unknown\":\n            terms.append(val)\n\n    # 核心检索字段（高优先级）\n\
          \    add(business_goal)\n    add(target_user)\n    add(scenario)\n    add(product)\n\
          \    add(channel)\n\n    # search_keywords\n    if isinstance(search_keywords,\
          \ list):\n        for item in search_keywords:\n            add(item)\n\
          \    else:\n        add(search_keywords)\n\n    # 轻量同义词扩展（只做检索增强）\n    synonym_map\
          \ = {\n        \"拉新\": [\"获客\", \"用户增长\"],\n        \"获客\": [\"拉新\", \"\
          用户增长\"],\n        \"促活\": [\"用户留存\"],\n        \"召回\": [\"用户召回\"],\n   \
          \     \"联名\": [\"IP联名\"],\n        \"新品\": [\"新品推广\"],\n        \"会员\":\
          \ [\"会员运营\"],\n        \"社群\": [\"私域运营\"],\n        \"小程序\": [\"小程序运营\"\
          ]\n    }\n\n    expanded_terms = []\n\n    for term in terms:\n        expanded_terms.append(term)\n\
          \n        if term in synonym_map:\n            expanded_terms.extend(synonym_map[term])\n\
          \n    # 去重\n    final_terms = []\n\n    seen = set()\n\n    for term in\
          \ expanded_terms:\n        clean_term = str(term).strip()\n\n        if\
          \ clean_term and clean_term not in seen:\n            final_terms.append(clean_term)\n\
          \            seen.add(clean_term)\n\n    # 控制长度\n    final_terms = final_terms[:12]\n\
          \n    retrieval_query = \" \".join(final_terms)\n\n    return {\n      \
          \  \"result\": result,\n        \"retrieval_query\": retrieval_query\n \
          \   }"
        code_language: python3
        desc: 接收需求解析节点输出的结构化数据，根据预设的同义词映射表进行检索词扩展与去重，生成优化后的知识检索查询语句（retrieval_query），同时透传can_generate判断结果至条件分支节点。
        outputs:
          result:
            children: null
            type: boolean
          retrieval_query:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1778162805137'
          - structured_output
          - can_generate
          value_type: object
          variable: can_generate_input
        - value_selector:
          - '1778162805137'
          - structured_output
          - business_goal
          value_type: object
          variable: business_goal
        - value_selector:
          - '1778162805137'
          - structured_output
          - target_user
          value_type: object
          variable: target_user
        - value_selector:
          - '1778162805137'
          - structured_output
          - scenario
          value_type: object
          variable: scenario
        - value_selector:
          - '1778162805137'
          - structured_output
          - channel
          value_type: object
          variable: channel
        - value_selector:
          - '1778162805137'
          - structured_output
          - product
          value_type: object
          variable: product
        - value_selector:
          - '1778162805137'
          - structured_output
          - budget
          value_type: object
          variable: budget
        - value_selector:
          - '1778162805137'
          - structured_output
          - time_window
          value_type: object
          variable: time_window
        - value_selector:
          - '1778162805137'
          - structured_output
          - search_keywords
          value_type: object
          variable: search_keywords
      height: 160
      id: '1778235450869'
      position:
        x: 684
        y: 70.6333333333333
      positionAbsolute:
        x: 684
        y: 70.6333333333333
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 83740d9d-2c81-4b09-9174-ce3d832f67cd
            value: true
            varType: boolean
            variable_selector:
            - '1778235450869'
            - result
          - comparison_operator: is not
            id: 7c674baa-6ba6-48e0-a34e-62e6e6f49456
            value: false
            varType: boolean
            variable_selector:
            - '1778235450869'
            - result
          id: 'true'
          logical_operator: or
        desc: 基于代码执行节点输出的can_generate布尔值进行逻辑判断，若为true则进入知识检索与策略生成流程，若为false则进入信息追问流程
        selected: false
        title: 条件分支
        type: if-else
      height: 226
      id: '1778235704060'
      position:
        x: 1026
        y: 64.29999999999997
      positionAbsolute:
        x: 1026
        y: 64.29999999999997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - w0tEOoGBhvfut0TFyZqjvrxlSpXJ7t7g0P+sSWOgqAvxdbyNoI+nysto48i1Ifr9
        - isP8jra82CeidPjMW4NKOf8w7elQz9BZI5IHrQ8928QbSVhfuASs9aqZr6bnRTmj
        desc: 利用代码执行节点生成的优化检索词（retrieval_query），在瑞幸咖啡内部运营知识库中进行语义匹配，检索出相关的运营案例、策略方法论等参考材料
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: netease-youdao/bce-reranker-base_v1
            provider: langgenius/siliconflow/siliconflow
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1778235450869'
        - retrieval_query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 194
      id: '1778251447168'
      position:
        x: 1388
        y: 0
      positionAbsolute:
        x: 1388
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 当用户输入信息不足时，向用户发起针对性追问，引导其补充缺失的关键运营要素（如目标人群、场景等）
        memory:
          query_prompt_template: '{{#sys.query#}}

            {{#1778162805137.structured_output#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Pro/moonshotai/Kimi-K2.5
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 67854b72-6a26-481e-8331-de52a955c006
          role: system
          text: '## 角色

            你是瑞幸咖啡的AI运营助手，擅长在当用户需求信息不足时，你需要通过简短追问，帮助用户补充关键运营信息。


            ## 背景

            1.用户原始需求：{{#sys.query#}}

            2.当前已提取的结构化信息：

            -运营目标：{{#1778162805137.structured_output.business_goal#}}

            -目标人群：{{#1778162805137.structured_output.target_user#}}

            -时间节点：{{#1778162805137.structured_output.time_window#}}

            -预算范围：{{#1778162805137.structured_output.budget#}}

            -运营场景：{{#1778162805137.structured_output.scenario#}}

            -产品品类：{{#1778162805137.structured_output.product#}}

            -触达渠道：{{#1778162805137.structured_output.channel#}}


            字段值为 "unknown" 代表当前缺失


            ## 任务

            请优先补充生成运营方案所需的关键信息。

            1. 优先追问：

            - 运营目标

            - 目标人群

            - 运营场景


            2. 次级补充信息：

            - 时间节点

            - 预算

            - 产品

            - 渠道


            一次最多追问 1~2 个最关键问题。


            ## 限制

            1. 直接输出追问话术

            2. 不要输出分析过程

            3. 不要生成运营方案

            4. 不要重复用户已经明确的信息

            5. 语气专业、自然、简洁'
        selected: false
        title: 信息追问
        type: llm
        vision:
          enabled: false
      height: 148
      id: '1778235781676'
      position:
        x: 1388
        y: 274
      positionAbsolute:
        x: 1388
        y: 274
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1778235781676.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1778237362020'
      position:
        x: 1730
        y: 321.16666666666663
      positionAbsolute:
        x: 1730
        y: 321.16666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 结合用户原始需求、结构化运营要素以及检索到的行业知识，生成符合瑞幸运营体系的、具备可落地性的运营策略建议
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: Pro/moonshotai/Kimi-K2.5
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: 7e907aab-9f1b-471b-928e-5749c0780da9
          role: system
          text: '## 角色

            你是一位拥有深厚零售/咖啡行业背景的瑞幸咖啡的高级运营专家，你不仅熟悉行业的运营知识，更深度理解瑞幸“App+小程序+私域社群+线下门店”的铁三角驱动模式。


            你的输出对象是运营人员或业务决策者。你的目标不是写营销方案，也不是替代运营人员做最终决策，而是提供一份可用于讨论、完善落地的 AI 辅助运营方案。


            ## 背景

            当前运营需求：{{#sys.query#}}


            结构化信息：

            -运营目标：{{#1778162805137.structured_output.business_goal#}}

            -目标人群：{{#1778162805137.structured_output.target_user#}}

            -运营场景：{{#1778162805137.structured_output.scenario#}}

            -触达渠道：{{#1778162805137.structured_output.scenario#}}

            -产品或品类：{{#1778162805137.structured_output.product#}}

            -预算范围：{{#1778162805137.structured_output.budget#}}

            -活动周期：{{#1778162805137.structured_output.time_window#}}

            -检索关键词：{{#1778162805137.structured_output.search_keywords#}}


            知识参考：{{#context#}}


            ## 任务

            请结合运营需求、结构化信息与知识参考，为运营人员提供一份简洁、可执行的运营策略建议。


            重点关注：

            - 哪类用户值得重点触达

            - 为什么适合该运营目标

            - 可以参考哪些运营玩法或历史案例

            - 推荐使用什么触达方式

            - 活动机制如何降低首购或参与门槛


            ## 限制

            1.输出控制在 500~800 字以内。

            2.优先给出最关键、最容易落地的策略建议。

            3.避免生成完整营销方案或长篇分析报告。

            4.优先输出瑞幸现有运营体系内可以快速落地的策略。

            5.避免涉及复杂数据系统、算法能力或高成本技术建设。

            '
        selected: false
        title: 策略生成
        type: llm
        vision:
          enabled: false
      height: 164
      id: '1778251478193'
      position:
        x: 1730
        y: 47.333333333333314
      positionAbsolute:
        x: 1730
        y: 47.333333333333314
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1778251478193.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 103
      id: '1778251522983'
      position:
        x: 2072
        y: 105.16666666666663
      positionAbsolute:
        x: 2072
        y: 105.16666666666663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -227
      y: 142.00000000000006
      zoom: 0.7
  rag_pipeline_variables: []
